---
import { Icon } from "astro-icon/components";

import { SITE, SOCIALS_FULL } from "../config.ts";
import BaseLayout from "../layouts/BaseLayout.astro";
import Body from "../layouts/Body.astro";
---

<BaseLayout title={`${SITE.title} – ${SITE.description}`}>
  <Body>
    <p class="leading-1 mb-1 text-center text-base leading-tight text-gray-200">
      Links to my social media profiles
    </p>
    <ul class="flex w-fit gap-2.5 max-phone:gap-2 phone:grid-cols-4">
      {
        SOCIALS_FULL.map((item) => (
          <li>
            <a
              href={item.href}
              title={`Me on ${item.name}`}
              rel="noopener"
              class="group rounded-lg"
            >
              <Icon
                name={`social/${item.icon}`}
                class="hyperlink hyperlink--social-link size-7 rounded-lg shadow-md"
              />
            </a>
          </li>
        ))
      }
    </ul>
  </Body>
</BaseLayout>

<style>
  .hyperlink--social-link {
    --hyperlink-text--ground: theme("colors.orange.200");
    --hyperlink-text--excited: theme("colors.ambient-bg");
    --hyperlink-bg--ground: color-mix(in oklch, transparent, white 5%);
    --hyperlink-bg--excited: theme("colors.lemon.100");
  }

  .short-bio {
    @apply mt-4 text-pretty leading-tight text-gray-300;
  }
</style>
