---
import { Image } from "astro:assets";

import { SITE } from "../config.ts";
import resolvedConfig from "../helpers/tailwind.ts";
import imgProfilePic from "../images/profilepic.png";
import BaseLayout from "../layouts/BaseLayout.astro";
import SocialLinks from "../layouts/SocialLinks.astro";
import Copyright from "../layouts/Copyright.astro";

const {
  // @ts-ignore[2339] TypeScript inference is not working for custom screen breakpoints
  screens: { phone, tablet },
} = resolvedConfig.theme;
---

<BaseLayout title={`${SITE.title} – ${SITE.description}`}>
  <div
    class="flex min-h-svh flex-col items-center justify-center py-8 max-tablet:py-4"
  >
    <Image
      src={imgProfilePic}
      alt="Drawing of Bole's head"
      widths={[256, 384, 512]}
      sizes={`(max-width: ${phone}) 256px, (max-width: ${tablet}) 384px, 512px`}
      class="w-[512px] px-4 max-tablet:w-[384px] max-phone:w-[256px]"
      loading="eager"
      fetchpriority="high"
    />
    <div class="flex flex-col items-center justify-center px-12">
      <h1
        class="text-layout-title leading-1 text-fadecream-100 my-4 text-center font-display text-2xl font-bold leading-tight max-tablet:mt-2"
      >
        That Charming BOLE
      </h1>
      <SocialLinks />
      <p
        class="mt-5 text-pretty text-center text-xs font-medium leading-tight text-gray-500"
      >
        Links also available on
        <a
          class="hyperlink hyperlink--underline hyperlink--basic font-bold"
          href="https://linktr.ee/YtCharmyngeBole">my linktree</a
        >
        <br />
        <Copyright />
      </p>
    </div>
  </div>
</BaseLayout>
