---
import { Image } from "astro:assets";

import { SITE } from "../config.ts";
import BaseLayout from "../layouts/BaseLayout.astro";
import Footnote from "../layouts/Footnote.astro";

import imgProfilePic from "../images/profilepic.png";
import { SOCIALS_SHORT } from "../config";
import { Icon } from "astro-icon/components";

// NOTE: Decided not to refactor usages of twemoji icons into new component
//       (need emoji unicode database & twemoji database updated regularly)
---

<BaseLayout title={`${SITE.title} – ${SITE.description}`}>
  <div class="flex min-h-svh flex-col">
    <div
      class="flex grow flex-col items-center justify-center gap-12 max-laptop:gap-8"
    >
      <div
        class="mt-16 flex items-center justify-center gap-8 max-laptop:max-w-screen-phone max-laptop:flex-col max-laptop:gap-4"
      >
        <div
          class="flex max-w-[320px] flex-col items-center gap-2 max-laptop:mx-8"
        >
          <Image
            src={imgProfilePic}
            alt="Drawing of Bole's head"
            width="256"
            densities={[1, 1.5, 2, 2.5, 3, 4]}
            loading="eager"
            fetchpriority="high"
          />
          <p
            class="text-balance text-center text-sm font-medium leading-tight text-gray-400"
          >
            Despite my own belief that I am not terminally online, I'm terribly
            omni-present on the web:
          </p>
          <ul class="flex w-fit gap-2.5 max-phone:gap-2 phone:grid-cols-4">
            {
              SOCIALS_SHORT.map((item) => (
                <li>
                  <a
                    href={item.href}
                    title={`Me on ${item.name}`}
                    rel="noopener"
                    class="group rounded-lg"
                  >
                    <Icon
                      name={`social/${item.icon}`}
                      class="hyperlink hyperlink--social-link size-7 rounded-lg shadow-md"
                    />
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div
          class="flex max-w-sm grow flex-col items-start justify-center max-laptop:items-center max-laptop:text-center"
        >
          <h1
            class="text-layout-title leading-1 font-display text-3xl font-bold leading-tight text-fadecream-100 max-laptop:text-center"
          >
            <span class="ml-[-0.125ch]">
              <!-- Slightly hanging the first letter to make the left alignment more balanced -->
            </span>
            That Charming BOLE
          </h1>
          <h2
            class="mt-2 text-balance text-xl leading-extra-tight text-gray-100"
          >
            Hey there, that's my name, and welcome to my bolepen!
          </h2>
          <p class="short-bio">
            I am a domestic dog born way back in <span aria-label="1990s"
              >199×</span
            >, yet I still pretend that I haven't left puppyhood behind.
          </p>
          <p class="short-bio">
            I'm chubby and fluffy most of the year, but I occasionally
            transformed into different versions of myself with the magic of
            commissioned artworks.
          </p>
          <p class="short-bio">
            Feel free to reach out and say hi! I'm always excited to meet new
            friends.
          </p>
        </div>
      </div>
      <!-- TODO: Insert more content here -->
    </div>
    <Footnote />
  </div>
</BaseLayout>

<style>
  .hyperlink--social-link {
    --hyperlink-text--ground: theme("colors.orange.200");
    --hyperlink-text--excited: theme("colors.ambient-bg");
    --hyperlink-bg--ground: color-mix(in oklch, transparent, white 5%);
    --hyperlink-bg--excited: theme("colors.lemon.100");
  }

  .short-bio {
    @apply mt-4 text-pretty leading-tight text-gray-300;
  }
</style>
