---
import { ClientRouter } from "astro:transitions";

import { SITE } from "#src/config.ts";
import FontLoading from "#src/fonts/FontLoading.astro";
import "#src/styles/index.css";

export interface Props {
  title?: string;
  author?: string;
  description?: string;
  ogImage?: string;
  canonicalURL?: string;
}

const {
  title: rawTitle,
  author = SITE.metadata.author,
  description = SITE.metadata.description,
  ogImage = new URL(SITE.theme.ogImage, Astro.site).href,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = Astro.props;

const title = rawTitle
  ? `${rawTitle} :: ${SITE.metadata.title}`
  : `${SITE.metadata.title}: ${SITE.metadata.subtitle}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- Theming Metadata -->
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="dark" />
    <meta name="theme-color" content={SITE.theme.color} />
    <link
      rel="icon"
      type="image/svg+xml"
      sizes="any"
      href="/favicons/favicon.svg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/favicons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicons/favicon-32x32.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="apple-mobile-web-app-title" content="Bolepen" />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogImage} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:image" content={ogImage} />

    <FontLoading />
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
