---
import { ViewTransitions } from "astro:transitions";

import { SITE } from "../config.ts";
import "../styles/base.css";

export interface Props {
  title?: string;
  author?: string;
  description?: string;
  ogImage?: string;
  canonicalURL?: string;
}

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.description,
  ogImage = SITE.ogImage,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = Astro.props;

const socialImageURL = new URL(ogImage ?? SITE.ogImage, Astro.url.origin).href;

// TODO: generate missing favicon images
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- Preconnect to External Resources -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Theming Metadata -->
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="dark" />
    <meta name="theme-color" content={SITE.themeColor} />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicons/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      sizes="any"
      href="/favicons/favicon.svg"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />

    <!-- Apply stylesheet after page loaded -->
    <script>
      window.addEventListener("load", () => {
        document
          .querySelectorAll('link[rel="preload"][as="style"]')
          .forEach((link) => {
            link.setAttribute("rel", "stylesheet");
          });
      });
    </script>

    <!-- External Resource: Google Fonts -->
    <link rel="preload" href="/assets/IosevkaCustom/font.css" as="style" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      as="style"
    />

    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
